<div class ="container col-7">
<div class="row judstify-center">

<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "Ajoutez votre photo" %>
<% end %>
</div>
</div>
<br>


<%= form_with(model: user, local: true, method: :put) do |update| %>

  <div class="form-group">
    <%= update.text_field :first_name, class:"form-control", placeholder:"Prénom" %>
  </div>

  <div class="form-group">
    <%= update.text_field :last_name, class:"form-control", placeholder:"Nom" %>
  </div>

  <div class="form-group">
    <%= update.email_field :email, class:"form-control", placeholder:"email" %>
  </div>

  <div class="form-group">
    <%= update.text_area :description, class:"form-control", placeholder:"Description" %>
  </div>

  <div class="form-group">
    <%= update.text_area :address , class:"form-control", placeholder:"Adresse" %>
  </div>

  <div class="form-group">
    <%= update.text_field :zipcode, class:"form-control", placeholder:"Code Postal" %>
  </div>

  <div class="actions text-center">
    <button type="submit" class="btn btn-primary">Editer mes informations</button>
  </div>
<% end %>

